<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>생명을 살리는 인공지능 + MURA</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">생명을 살리는 인공지능 </h1>
      <h1 class="mb-1">
        +
      </h1>
      <h1 class="mb-3">
        <em>MURA</em>
      </h1>
      <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>-->
    </div>
    <div class="overlay"></div>
  </header>

<!--  &lt;!&ndash; About &ndash;&gt;-->
<!--  <section class="content-section bg-light" id="about">-->
<!--    <div class="container text-center">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-10 mx-auto">-->
<!--          <h2>Stylish Portfolio is the perfect theme for your next project!</h2>-->
<!--          <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at-->
<!--            <a href="https://unsplash.com/">Unsplash</a>!</p>-->
<!--          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <!-- Services -->
<!--  <section class="content-section bg-primary text-white text-center" id="services">-->
  <section class="content-section bg-primary mastcontent text-white text-left" id="services">
    <div class=" container ">
      <div class="content-section-heading">
        <h2 class="text-secondary mb-0">Services</h2>
        <h2 class="mb-5">의료빈국을 위한 인공지능</h2>
      </div>
      <br class="hidden-xs"/>
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-lg-0">
          <h3>
            <strong>전문적인 정형외과 의사가 없는 그곳,</strong>
          </h3>
        </div>
      </div>
      <br class="hidden-xs"/>
      <br class="hidden-xs"/>
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-lg-0">
          <h3>
            <strong>우리에게는 일적이지만 단순히 부상인 골절,</strong>
          </h3>
        </div>
      </div>
      <br class="hidden-xs"/>
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-lg-0">
          <h3>
            <strong>어느곳에는 사망의 원인이 됩니다.</strong>
          </h3>
        </div>
      </div>
      <br class="hidden-xs"/>
      <br class="hidden-xs"/>
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-lg-0">
          <h3>
            <strong>이제 인터넷 엑세스만 있어,</strong>
          </h3>
        </div>
      </div>
      <br class="hidden-xs"/>
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-lg-0">
          <h3>
            <strong>엑스레이만 찍어 홈페이지에 올리면,</strong>
          </h3>
        </div>
      </div>
      <br class="hidden-xs"/>
      <div class="row">
        <div class="col-lg-8 col-md-6 mb-5 mb-lg-0">
          <h3>
            <strong>인공지능 정형의사가 골절상을 진단합니다.</strong>
          </h3>
        </div>
      </div>


    </div>
  </section>

<!--  &lt;!&ndash; Callout &ndash;&gt;-->
<!--  <section class="callout">-->
<!--    <div class="container text-center">-->
<!--      <h2 class="mx-auto mb-5">Welcome to-->
<!--        <em>your</em>-->
<!--        next website!</h2>-->
<!--      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/theme/stylish-portfolio/">Download Now!</a>-->
<!--    </div>-->
<!--  </section>-->

  <!-- Portfolio -->
  <section class="content-section " id="portfolio">

    <div class="container">
      <div class="container text-center">
      <h2 class="mx-auto mb-5">X-Ray영상을 올려주세요.</h2>
      <h2 class="mx-auto mb-5"> 팔꿈치, 전완, 손가락, 어깨관절, 상완, 어깨, 손목에 대해서 분석합니다. </h2>
    </div>
      <div class="content-section-heading text-center">
            {% block content %}
            {% endblock %}
      </div>
    </div>
  </section>

<!--  &lt;!&ndash; Call to Action &ndash;&gt;-->
<!--  <section class="content-section bg-primary text-white">-->
<!--    <div class="container text-center">-->
<!--      <h2 class="mb-4">The buttons below are impossible to resist...</h2>-->
<!--      <a href="#!" class="btn btn-xl btn-light mr-4">Click Me!</a>-->
<!--      <a href="#!" class="btn btn-xl btn-dark">Look at Me!</a>-->
<!--    </div>-->
<!--  </section>-->

<!--  &lt;!&ndash; Map &ndash;&gt;-->
<!--  <div id="contact" class="map">-->
<!--    <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>-->
<!--    <br />-->
<!--    <small>-->
<!--      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>-->
<!--    </small>-->
<!--  </div>-->

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
<!--          <a class="social-link rounded-circle text-white mr-3" href="#!">-->
           <a class="social-link rounded-circle text-white mr-3"href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook" >
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; 연세대학교 공학대학원 1</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

조

</body>

</html>
